body {
    background-color: #9DC7B7;
}

.container {
    width: 50%;
    margin: 10% auto;
}

ul {
    padding: 0px;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    box-shadow: 0px 10px 15px #666;
    /*Making the list items unselectable    */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

ul li.checked {
    background: #6ACC8B;
    color: #fff;
    text-decoration: line-through;
    border: 0.5px solid black;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}


.header {
    background-color: #B3C2D5;
    padding: 30px 40px;
    color: #5C4319;
    text-align: center;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 10px 15px #666;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 8px;
    background: #C7AB7B;
    color: #5C4319;;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}