<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Todo List</title>
</head>
<body>
<div class="container">
    <h2>To Do List</h2>
    <form class="header" th:action="@{/todos}" method="post" th:object="${todoObject}">
        <input type="text" id="input" placeholder="New Item..." th:field="*{task}">
        <button type="submit" class="addBtn">Add</button>
    </form>
    <ul th:each="todo: ${todolist}">
        <li th:class="${todo.status} == 2 ? 'checked': '' "
            th:onclick="'javascript:updateTodo(this,' + ${todo.id} + ','+${todo.status} +')'">
            <span th:text="${todo.task}"></span>
            <span class="close" th:onclick="'javascript:deleteTodo(event,this,' + ${todo.id} + ')'">x</span>
        </li>
    </ul>
</div>
<script>
    const addTodo = () => {
        let task = document.getElementById('task').value;
        console.log(task);
        const data = {
            task: task
        }
        fetch('/todos', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        }).then(function(response) {
            location.reload();
        })
    }

    const updateTodo = (element,id,status) => {
        const notDone = 1;
        const done = 2;
        const data = {
            status: status === done ? notDone : done
        }
        fetch('todos/' + id, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        }).then(function (response) {
            if (status === done) {
                element.classList.remove("checked");
            } else {
                element.classList.add("checked");
            }
            location.reload();
        })
    }
    const deleteTodo = (event,element,id) => {
        event.stopPropagation();
        fetch('todos/'+ id, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
        }).then(function(response) {
            element.parentNode.parentNode.parentNode.removeChild(element.parentNode.parentNode);
        })
    }
</script>
</body>
</html>